@page "/bindingcreator"

@using HampusBizTalkUtil.Models;
@using System.Xml;

<h3>Biztalk Binding Creator</h3>

<div>
	<label>Application Name</label>
	<input @bind="ApplicationName" />
</div>

<br />

<div>
	<div class="grid-container">
		<h5>Receive Ports</h5>
		<button @onclick="Binding.AddReceivePort">Add</button>
	</div>
	<div>
		@foreach(var receivePort in Binding.ReceivePorts)
		{
			<br />
			<div class="grid-container2">
				<p>&emsp;@receivePort.Name</p>
				<button @onclick="receivePort.AddReceiveLocation" style="margin-left: 2em;">Add Receive Location</button>
			</div>
			foreach (var receiveLocation in receivePort.ReceiveLocations)
			{
				<p>&emsp;&emsp;@receiveLocation.Name</p>
			}
		}
	</div>

	<h5>Send Ports</h5>
	<button @onclick="Binding.AddSendPort">Add</button>
	<div>
		@foreach (var sendPort in Binding.SendPorts)
		{
			<p>&emsp;@sendPort.Name</p>
		}
	</div>
</div>

<style>
	.grid-container {
		display: grid;
		grid-template-columns: 8em 6em;
	}
	.grid-container2 {
		display: grid;
		grid-template-columns: 8em 10em;
	}
</style>

@code {
	public string ApplicationName = "";
	public Binding Binding = new();

}
