@page "/bindingcreator"

@using HampusBizTalkUtil.Models;
@using System.Xml;

<h3>Biztalk Binding Creator</h3>

<div>
	<label>Application Name</label>
	<input @bind="ApplicationName" />
</div>

<br />

<div>
	<div class="grid-container">
		<h5>Receive Ports</h5>
		<button @onclick="Binding.AddReceivePort">Add</button>
	</div>
	@foreach(var receivePort in Binding.ReceivePorts)
	{
		<br />
		<div class="indent1">
			<div class="grid-container2">
				<p>@receivePort.Name</p>
				<button @onclick="receivePort.AddReceiveLocation">Add Receive Location</button>
			</div>
		</div>
		<div class="grid-container3">
			@foreach (var receiveLocation in receivePort.ReceiveLocations)
			{
				<p style="grid-column-start: 2">@receiveLocation.Name</p>
			}
		</div>
	}

	<h5>Send Ports</h5>
	<button @onclick="Binding.AddSendPort">Add</button>
	<div class="indent1">
		@foreach (var sendPort in Binding.SendPorts)
		{
			<p>@sendPort.Name</p>
		}
	</div>
</div>

<style>
	.grid-container {
		display: grid;
		grid-template-columns: 8em 6em;
	}
	.grid-container2 {
		display: grid;
		grid-template-columns: 8em 10em;
	}
	.grid-container3 {
		display: grid;
		grid-template-columns: 5em 10em;
	}

	.indent1 {
		margin-left: 2em;
	}
	.nested2 {
		margin-left: 10em;
	}
</style>

@code {
	public string ApplicationName = "";
	public Binding Binding = new();

}
