@page "/devDashboard"

<h3>Dev Dashboard</h3>

<ul>
	<li>Dokumentation</li>
	<ul>
		<li>Komplett Beställningsdokument finns</li>
		<li>Färdigställd Integrations-specifikation finns</li>
		<li>Färdigställd Test-specifikation finns</li>
		<li>Färdigställd  Designspecifikation finns</li>
		<li>Övrig dokumentation finns</li>
	</ul>

	<li>Automatbygge(Devops)</li>
	<ul>
		<li>Automatbygge finns</li>
		<li>Automatbygge fungerar</li>
	</ul>

	<li>Integrations</li>
	<ul>
		<li>Beroenden finns kopplade</li>
		<li>IK (kopplingar) finns</li>
	</ul>
</ul>

@code {

}
